[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
mysqlclient = "*"
pyjwt = "*"
python-slugify = "*"
pillow = "*"
django-cors-headers = "*"
uwsgi = "*"

[requires]
python_version = "3.7"
